@{
    ViewData["Title"] = "VISIÓN";
    ViewData["Subtitle"] = "PROPORCIONAR PRODUCTOS Y SERVICIOS PARA MASCOTAS DE ACUERDO A LAS NECESIDADES DE NUESTROS CLIENTES BRINDANDOLES UN SERVICIO EFICIENTE Y DE CALIDAD.";
}

<div class="d-flex" id="wrapper">
    <div id="page-content-wrapper">
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <div class="col mb-5">
                        <div class="card h-100">
                            <h5 class="fw-bolder">@ViewData["Title"]</h5>
                            <div>@ViewData["Subtitle"]</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
